/* Вырезаем под корень системные рамки и тени основного окна */
window#waybar {
    background-color: transparent;
    background: transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    box-shadow: none;
    padding: 0;
}

/* Очищаем главный контейнер */
#waybar.left {
    background: transparent;
    border: none;
    box-shadow: none;
}

/* Наша идеальная скругленная панель */
/* Наша идеальная скругленная панель */
#waybar.left .modules-left {
    /* Делаем фон значительно более прозрачным */
    background-color: rgba(30, 30, 46, 0.35); 
    
    /* Скругление правой грани */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
    /* Деликатная мягкая граница */
    border-right: 2px solid rgba(203, 166, 247, 0.3);

    /* Уменьшаем внутренние отступы */
    padding: 15px 6px;
    margin: 0;
}

/* Стили для всех значков приложений */
#waybar.left #custom-terminal, #waybar.left #custom-browser, #waybar.left #custom-files, #waybar.left #custom-telegram, 
#waybar.left #custom-vesktop, #waybar.left #custom-steam, #waybar.left #custom-anime, 
#waybar.left #custom-sleepy, #waybar.left #custom-factorio, #waybar.left #custom-obsidian, 
#waybar.left #custom-aoe4, #waybar.left #custom-lutris, #waybar.left #custom-battlenet, 
#waybar.left #custom-obs {
    font-size: 22px; /* Уменьшен размер иконок (был 22px) */
    color: #cdd6f4;
    background-color: transparent; /* Убран плотный фон у каждой иконки */
    padding: 10px; /* Уменьшены отступы (были 10px) */
    margin: 5px 0;
    border-radius: 12px;
    font-family: "JetBrainsMono Nerd Font", "Font Awesome 6 Free", sans-serif;
    transition: all 0.2s ease; /* Плавность при наведении */
}

/* Зеленая неоновая подсветка */
#waybar.left #custom-terminal:hover, #waybar.left #custom-browser:hover, #waybar.left #custom-files:hover, #waybar.left #custom-telegram:hover, 
#waybar.left #custom-vesktop:hover, #waybar.left #custom-steam:hover, #waybar.left #custom-anime:hover, 
#waybar.left #custom-sleepy:hover, #waybar.left #custom-factorio:hover, #waybar.left #custom-obsidian:hover, 
#waybar.left #custom-aoe4:hover, #waybar.left #custom-lutris:hover, 
#waybar.left #custom-obs:hover {
    background-color: #7B6EEB;
    color: #11111b;
    box-shadow: 0 0 10px #7B6EEB;
}

/* Выжигаем дефолтные рамки и фоны пустых контейнеров левого бара */
window#waybar.left .modules-center,
window#waybar.left .modules-right {
    background: transparent;
    background-color: transparent;
    border: none;
    border-image: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    font-size: 0px;
    min-height: 0px;
}